<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjhckj.springcloudsolr.solr.dao.SolrMapper">
  <resultMap id="BaseResultMap" type="com.fjhckj.springcloudsolr.solr.entity.Solr">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="keyword" jdbcType="VARCHAR" property="keyword" />
  </resultMap>
</mapper>